name: Wine-Crossover-MacOS-local

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
    # this has to be synchronized with the same variable in build_local.sh
    PACKAGE_UPLOAD: install/packages

jobs:
  wine-crossover-local:

    strategy:
      fail-fast: false
      matrix:
        CROSS_OVER_VERSION: [20.0.4, 20.0.0, 19.0.2]

    runs-on:  macos-10.15

    env:
      CROSS_OVER_VERSION: ${{ matrix.CROSS_OVER_VERSION }}

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Run build_local.sh
        run: ./build_local.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts-cx${{ matrix.CROSS_OVER_VERSION }}
          path: ${{ env.PACKAGE_UPLOAD }}
